In [2]:
import pandas as pd
import numpy as np
import pickle

In [47]:
data=pd.read_excel('result_data.xlsx')
data

,SMILES,terminal t1/2 (h),label
0,O([C@H]([C@H](NC(c1nc([C@@H](NC[C@@H](C(N)=O)N...,3.9,1
1,c1(nc(cc2ccccc12)C(=O)N([C@@H](CC)C)C)c1c(cccc...,3.7,1
2,[H]N([H])C([C@](CCN1CCCCC1)(CCN(C(C)C)C(C)=O)c...,12.0,1
3,Cc1cc(c(cc1C(=O)NC(=N)N)S(=O)(=O)C)n2cccc2,2.2,0
4,CCCN(CCC)S(=O)(=O)c1ccc(cc1)C(=O)O,5.9,1
...,...,...,...
1326,CC(C)[C@@H](CC[C@@H](C)[C@H]1CC[C@H]2[C@@H]3[C...,9.5,1
1327,CC1=C(C=C(C#N)C(=O)N1)c2ccncc2,0.8,0
1328,c1ccc(cc1)CC[C@H](N[C@@H]1C(N2[C@@H](CCC[N@@]2...,50.6,1
1329,c1cc(ccc1O)[C@@H](CN(C)C)C1(CCCCC1)O,8.4,1
1330,ClCCN(CCCl)P1(=O)NCCCO1,8.0,1

In [52]:
dd=pd.read_csv('tt.csv')
dd

          0
0     train
1      test
2     train
3     train
4     train
...     ...
1326  train
1327  train
1328  train
1329  train
1330  train

[1331 rows x 1 columns]

In [53]:
data1=pd.concat([data,dd],axis=1)
data1

,SMILES,terminal t1/2 (h),label,0
0,O([C@H]([C@H](NC(c1nc([C@@H](NC[C@@H](C(N)=O)N...,3.9,1,train
1,c1(nc(cc2ccccc12)C(=O)N([C@@H](CC)C)C)c1c(cccc...,3.7,1,test
2,[H]N([H])C([C@](CCN1CCCCC1)(CCN(C(C)C)C(C)=O)c...,12.0,1,train
3,Cc1cc(c(cc1C(=O)NC(=N)N)S(=O)(=O)C)n2cccc2,2.2,0,train
4,CCCN(CCC)S(=O)(=O)c1ccc(cc1)C(=O)O,5.9,1,train
...,...,...,...,...
1326,CC(C)[C@@H](CC[C@@H](C)[C@H]1CC[C@H]2[C@@H]3[C...,9.5,1,train
1327,CC1=C(C=C(C#N)C(=O)N1)c2ccncc2,0.8,0,train
1328,c1ccc(cc1)CC[C@H](N[C@@H]1C(N2[C@@H](CCC[N@@]2...,50.6,1,train
1329,c1cc(ccc1O)[C@@H](CN(C)C)C1(CCCCC1)O,8.4,1,train
1330,ClCCN(CCCl)P1(=O)NCCCO1,8.0,1,train

In [54]:
#data1.to_csv('result_data.csv')